@font-face {
    font-family: "Futura Lt BT";
    src: url("./font/FuturaBT-Light.woff2") format("woff2"),
        url("./font/FuturaBT-Light.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Futura Regular";
    src: url("./font/Futura+Regular.woff") format("woff"),
        url("./font/Futura+Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Futura Md BT";
    src: url("./font/FuturaBT-Medium.woff2") format("woff2"),
        url("./font/FuturaBT-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Futura BdCn BT";
    src: url("./font/FuturaBT-BoldCondensed.woff2") format("woff2"),
        url("./font/FuturaBT-BoldCondensed.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    position: relative;
    z-index: 999;
    padding: 5px 30px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    margin-top: 70px;
}

.Headerscroll {
    background: #ffffff !important;
    box-shadow: 0px 0px 7px 0px #e1e1e1;
}

.header-left img {
    width: 125px;
    height: auto;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    margin-top: 11px;
    width: 65% !important;
}

.header-menu li {
    list-style: none;
}

.header-menu li a {
    color: #30302b;
    text-decoration: none;
    font-family: "Futura Md BT";
    font-size: 17px;
}

.header-menu li a {
    color: #30302b;
    text-decoration: none;
}

.header-center {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 19px;
    position: relative;
}

.borderB {
    position: absolute;
    bottom: -23px;
    left: 0;
    border-bottom: 1px solid #fff;
    width: 80%;
    z-index: 1;
}

.header-right img {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    width: 22px;
}

.header-right .searchIcon {
    margin-left: 6px;
    cursor: pointer;
    width: 22px;
}

input[type="file"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus {
    outline: 0 !important;
}

.header-menu-icon {
    width: 24px;
    margin-right: 11px;
}

#action-box #menu-wrap .menu {
    position: absolute;
    left: 0;
    width: 100% !important;
    height: 0;
    top: 7px;
    padding: 10px 0px;
    border-radius: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    padding-bottom: 0;
}

#action-box #menu-wrap .menu ul {
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 0;
}

#action-box #menu-wrap .menu ul li {
    margin-top: 0;
}

.ruby-menu-mega-shop {
    padding: 8px 20px;
}

#action-box #menu-wrap .menu ul li a:hover {
    color: #c4383d;
}

#action-box #menu-wrap .menu ul li .link {
    text-decoration: none;
    color: rgba(49, 49, 49, 0.85);
    opacity: 0;
    visibility: hidden;
    font-size: 15px;
}

#action-box #menu-wrap .toggler {
    position: absolute;
    height: 100%;
    width: 3%;
    top: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    z-index: 99;
}

#action-box #menu-wrap .toggler:checked ~ .menu {
    opacity: 1;
    visibility: visible;
    width: 150px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    z-index: 9;
}

#action-box #menu-wrap .toggler:checked ~ .menu ul .link {
    opacity: 1;
    visibility: visible;
    -webkit-transition: 0.5s ease 0.3s;
    -o-transition: 0.5s ease 0.3s;
    transition: 0.5s ease 0.3s;
}

/* Header Mega Menu Start ********************/

div.ruby-wrapper ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.ruby-menu > li > a {
    display: block;
    color: #30302b;
    text-decoration: none;
    text-transform: uppercase;
}

ul.ruby-menu > li.ruby-menu-mega > div,
ul.ruby-menu > li.ruby-menu-mega-blog > div,
ul.ruby-menu > li.ruby-menu-mega-shop > div {
    position: absolute;
    width: 100%;
    height: auto;
    top: 30px;
    left: 0;
    background: #fff;
    box-shadow: 0px 6px 7px 1px #ccc;
}

ul.ruby-menu > li.ruby-menu-mega-shop > div {
    text-align: center;
    z-index: 999999;
}

ul.ruby-menu > li.ruby-menu-mega-shop > div > ul {
    width: 100%;
    background: #f0efeb;
    margin: 0 auto;
    padding: 0;
    border-bottom: 1px solid #ddd;
    font-size: 0;
    z-index: 100;
}

ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li {
    display: inline-block;
    margin: 0;
}

ul.pro-menu {
    display: flex;
    align-items: center;
    padding-right: 10px !important;
}

ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > a {
    display: block;
    padding: 15px 20px;
    text-transform: uppercase;
    font-family: "Futura Md BT";
    font-size: 16px;
    font-stretch: expanded;
    color: #30302b;
    margin-right: 10px;
}

.ruby-list-heading {
    font-family: "Futura Md BT";
    font-size: 15px;
    text-transform: uppercase;
    color: #30302b;
    letter-spacing: 0.56px;
    margin-bottom: 25px;
    margin-top: 10px;
}

.letter-spacing {
    letter-spacing: normal !important;
}

.ruby-list-heading:hover {
    color: #c4383d;
}

ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > div {
    position: absolute;
    width: 100%;
    left: 0;
    top: auto;
    margin-top: 1px;
    text-align: left;
    background: #fff;
    z-index: -1;
    padding: 10px 20px;
    height: auto;
    overflow-x: hidden;
    box-shadow: 0px 2px 6px 0px #cecece;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

ul.ruby-menu > li.ruby-menu-mega > div ul li,
ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > div ul > li {
    position: relative;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
    display: block;
    width: 100%;
}

ul.ruby-menu > li.ruby-menu-mega > div,
ul.ruby-menu > li.ruby-menu-mega-blog > div,
ul.ruby-menu > li.ruby-menu-mega-shop > div {
    visibility: hidden;
    opacity: 0;
}

ul.ruby-menu > li.ruby-menu-mega:hover > div,
ul.ruby-menu > li.ruby-menu-mega-blog:hover > div,
ul.ruby-menu > li.ruby-menu-mega-shop:hover > div {
    visibility: visible;
    opacity: 1;
}

ul.ruby-menu
    > li.ruby-menu-mega-blog
    > div
    > ul.ruby-menu-mega-blog-nav
    > li
    > div {
    visibility: hidden;
    opacity: 0;
}

ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > div {
    visibility: hidden;
    opacity: 0;
}

ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li:hover > div {
    visibility: visible;
    opacity: 1;
}

.ruby-menu-mega-shop:hover .ruby-active-menu-item .ProductsBy {
    visibility: visible;
    opacity: 1;
}

ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > div {
    transform: translateY(-50px);
    transition: all 0.5s ease;
}

ul.ruby-menu
    > li.ruby-menu-mega-shop:hover
    > div
    > ul
    > li.ruby-active-menu-item
    > div,
ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li:hover > div {
    transform: translateY(0);
}

/* Header section End ***************************/

/* Slider Section End *************************/

.aboutUs-section {
    background-color: hsl(0, 0%, 72%);
    padding: 90px 20px 0px 20px;
    position: relative;
    animation-delay: 250ms;
    transition: width 2s;
}

.about-center-box img {
    width: 100%;
    height: 100%;
}

.about-center-box {
    height: 100%;
    margin: 0px !important;
}

.about-left-box img {
    width: 100%;
    margin-bottom: 30px;
}

.about-left {
    display: flex;
    align-items: end;
}

.sub-heading {
    color: #fff;
    font-size: 35px;
    letter-spacing: 0.56px;
    position: relative;
    width: 665px;
    margin: auto;
    margin-bottom: 25px;
    font-family: "Futura Md BT";
}

.sub-heading::after {
    content: "";
    height: 0.5px;
    width: 242px;
    background-color: #d6d6d6;
    position: absolute;
    bottom: 9px;
    margin-left: 10px;
}

.sub-heading::before {
    content: "";
    height: 0.5px;
    width: 242px;
    background-color: #d6d6d6;
    position: absolute;
    bottom: 9px;
    left: 0;
}

.scroll-box {
    position: absolute;
    top: -26px;
    left: 30px;
}

.scroll-box a:hover {
    text-decoration: none;
}

.scroll-box img {
    width: 40px;
}

.scroll-box p {
    font-size: 14px;
    margin: 0;
    margin-top: 5px;
    color: #fff;
    font-family: "Futura Lt BT";
    font-weight: 400;
}

.scroll-box1 {
    position: absolute;
    bottom: -55px;
    left: 70px;
}

.scroll-box1 a:hover {
    text-decoration: none;
}

.scroll-box1 img {
    width: 40px;
}

.product-section {
    padding: 0px 38px;
}

.our-product {
    border-right: 1px solid #d6d6d6;
    padding: 2px 102px;
    padding-top: 60px;
    margin-bottom: 30px !important;
    width: 85.5%;
    margin: auto;
}

.product-heading {
    color: #000000;
    font-size: 35px;
    position: relative;
    width: 715px;
    margin: auto;
    margin-bottom: 25px;
    font-family: "Futura Md BT";
}
.contact-heading {
    color: #000000;
    font-size: 35px;
    position: relative;
    width: 355px;
    margin: auto;
    margin-bottom: 25px;
    font-family: "Futura Md BT";
    text-align: center;
}

.product-heading::after {
    content: "";
    height: 0.5px;
    width: 242px;
    background-color: #d6d6d6;
    position: absolute;
    bottom: 9px;
    margin-left: 12px;
}

.product-heading::before {
    content: "";
    height: 0.5px;
    width: 242px;
    background-color: #d6d6d6;
    position: absolute;
    bottom: 9px;
    left: 0;
}
.contact-heading::after {
    content: "";
    height: 0.5px;
    width: 110px;
    background-color: #d6d6d6;
    position: absolute;
    bottom: 9px;
    margin-left: 12px;
}

.contact-heading::before {
    content: "";
    height: 0.5px;
    width: 110px;
    background-color: #d6d6d6;
    position: absolute;
    bottom: 9px;
    left: 0;
}

.text {
    color: #727376;
    font-size: 16px;
    letter-spacing: 0.56px;
    text-align: center;
    font-family: "Futura Lt BT";
}

.product-img-left img {
    width: 100%;
    height: 500px;
}

.product-img-center img {
    width: 100%;
    height: 244px;
}

.product-img-right img {
    width: 100%;
    height: 500px;
}

.img-overlay {
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.17),
        rgba(0, 0, 0, 0.9)
    );
    top: 0;
    left: 0;
}

.product-name {
    position: absolute;
    bottom: 45px;
    color: #fff;
    font-size: 25px;
    margin: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    font-family: "Futura Md BT";
}

.restaurant-section {
    background-color: #fff;
    padding-top: 60px;
}

.restaurant-box img {
    width: 100%;
    height: auto;
    position: relative;
}

.hover-box {
    position: absolute;
    width: 32px;
    height: 93px;
    top: 38px;
    left: 71px;
    background-color: transparent;
    cursor: pointer;
}

.hover-text-box {
    position: absolute;
    width: 420px;
    padding: 30px 20px;
    top: 0px;
    left: 20px;
    background-color: #000;
    display: none;
    text-align: center;
    z-index: 9;
}

.hover-text-box p {
    font-size: 16px;
    color: #727376;
    margin-bottom: 20px;
    line-height: 22px;
    font-family: "Futura Lt BT";
}

.hover-text-box h3 {
    font-size: 25px;
    color: #fff;
    margin-bottom: 20px;
    font-family: "Futura Md BT";
}

.read-more {
    color: #fff;
    font-size: 14px;
    margin: 0;
    position: relative;
    font-family: "Futura Md BT";
}

.read-more:hover {
    text-decoration: none;
    color: #fff;
}

.read-more::before {
    content: "";
    height: 1.5px;
    width: 50px;
    background-color: #ffffff;
    position: absolute;
    bottom: 8px;
    left: -55px;
}

.hover-box:hover .hover-text-box {
    display: block !important;
}

.hover-box1 {
    position: absolute;
    width: 68px;
    height: 73px;
    left: 24%;
    top: 40%;
    transform: translate(-43%, -38%);
    background-color: transparent;
    cursor: pointer;
    z-index: 9;
}

.hover-text-box1 {
    position: absolute;
    width: 420px;
    padding: 30px 20px;
    top: 0px;
    left: 40px;
    background-color: #000;
    display: none;
    text-align: center;
}

.hover-text-box1 p {
    font-size: 16px;
    color: #727376;
    margin-bottom: 20px;
    line-height: 22px;
    font-family: "Futura Lt BT";
}

.hover-text-box1 h3 {
    font-size: 25px;
    color: #fff;
    margin-bottom: 20px;
    font-family: "Futura Md BT";
}

.hover-box1:hover .hover-text-box1 {
    display: block !important;
}

.get-in-touch-section {
    background-color: #cbcbcb;
    padding-bottom: 60px;
    margin-top: -70px;
    padding-top: 140px;
}

.get-in-touch-left {
    background-color: #f0efeb;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.touch-heading {
    color: #000000;
    font-size: 35px;
    letter-spacing: 0.56px;
    position: relative;
    width: 76%;
    margin: auto;
    margin-bottom: 25px;
    text-align: center;
    font-family: "Futura Md BT";
}

.touch-heading::after {
    content: "";
    height: 2px;
    width: 100px;
    background-color: #d6d6d6;
    position: absolute;
    bottom: 9px;
    margin-left: 7px;
}

.touch-heading::before {
    content: "";
    height: 2px;
    width: 100px;
    background-color: #d6d6d6;
    position: absolute;
    bottom: 9px;
    left: 0;
}

.get-in-touch-right {
    background-color: #ffffff;
    padding: 20px;
}

.input-box h4 {
    color: #827d7d;
    font-family: "Futura Lt BT";
    font-size: 18px;
    opacity: 70%;
    margin-top: 0;
}

.textarea-box h4 {
    color: #827d7d;
    font-family: "Futura Lt BT";
    font-size: 18px;
    opacity: 70%;
    margin-top: 0;
}

.input-box {
    height: 107px;
}

.footer-input-form {
    height: 70px;
}

.footer-textarea-form {
    height: 100px !important;
}

.input-box .text-danger {
    color: red !important;
    font-family: "Futura Lt BT" !important;
    margin: 0;
    margin-top: 0px;
    font-size: 15px;
}

.textarea-box .text-danger {
    color: red !important;
    font-family: "Futura Lt BT" !important;
    margin: 0;
    margin-top: 0px;
    font-size: 15px;
}

.input-box input,
select {
    width: 100%;
    height: 40px;
    border: 1px solid rgb(180, 180, 180);
    font-size: 15px !important;
    padding-left: 10px;
    font-family: "Futura Lt BT" !important;
}

.textarea-box {
    height: 130px;
}

.textarea-box textarea {
    width: 100%;
    border: 1px solid rgb(180, 180, 180);
    font-size: 15px;
    padding-left: 8px;
    font-family: "Futura Lt BT";
}

input,
select,
textarea {
    transition: all 0.3s ease;
    display: block;

    &:focus {
        outline: none;
        border-color: #db783d;
    }
}

.textarea-box textarea {
    transition: all 0.3s ease;
    display: block;

    &:focus {
        outline: none;
        border-color: #db783d;
    }
}

.call-main-box {
    display: flex;
    align-items: center;
}

.call-box {
    display: flex;
    align-items: center;
    margin: 0px 15px;
}

.call-box div a {
    margin: 0;
    font-size: 14px;
    color: #242424;
    margin-left: 12px;
    font-family: "Futura Md BT";
}

.call-box div a:hover {
    color: #242424;
    text-decoration: none;
}

.submit-btn {
    border: none;
    background: none;
    font-size: 15px;
    color: #db783d;
    position: relative;
    font-family: "Futura Md BT";
}

.submit-btn:hover {
    color: #db783d;
    text-decoration: none;
}

.submit-btn::before {
    content: "";
    height: 1.5px;
    width: 45px;
    background-color: #db783d;
    position: absolute;
    bottom: 8px;
    left: -47px;
}

.footer-main-section {
    background-color: #f0efeb;
    padding: 40px 20px;
    position: relative;
}

.footer-logo {
    width: 125px;
    height: auto;
}

.footer-left p {
    font-size: 16px;
    color: #2e2e2e;
    line-height: 21px;
    margin: 20px 0;
    font-family: "Futura Lt BT";
}

.footer-icon-box {
    display: flex;
    align-items: center;
}

.facebook-icon {
    font-size: 22px;
    margin-right: 12px;
    cursor: pointer;
    border: 2px solid #fff;
    height: 36px;
    width: 36px;
    border-radius: 5px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #aeaeae;
}

.facebook-icon:hover {
    background-color: #db783d;
    color: #fff;
    border: 2px solid #db783d;
}

.footer-center h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #30302b;
    font-family: "Futura Md BT";
}

.footer-menu {
    margin: 0;
    padding: 0;
}

.footer-menu li {
    list-style: none;
    margin-bottom: 8px;
}

.footer-menu li a {
    font-size: 15px;
    color: #30302b;
    font-family: "Futura Lt BT";
    text-decoration: none;
}

.footer-menu li a:hover {
    color: #c4383d;
    text-decoration: none;
}

.footer-right-text {
    font-size: 14px;
    color: #30302b;
    margin-bottom: 20px;
    font-family: "Futura Lt BT";
}

.fooetr-scroll-box img {
    width: 40px;
    height: auto;
}

.fooetr-scroll-box {
    position: absolute;
    top: -50px;
    left: 38px;
}

.footer-button-section {
    background-color: #edebe5;
    padding: 20px;
}

.footer-button-left p {
    font-size: 14px;
    margin: 0;
    color: #827d7d;
    font-family: "Futura Lt BT";
}

.slick-center p {
    display: none;
}

.slick-slide p {
    font-size: 18px;
    color: #3b3b3b;
    margin: 0;
    font-family: "Futura Md BT";
}

.fooetr-scroll-box a:hover {
    text-decoration: none;
}

.call-nu-box {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
}

.slide-text-right {
    position: absolute;
    top: 14%;
    right: 9%;
    font-family: "Futura Md BT";
    font-size: 15px;
    color: #474747;
    margin: 0;
}

.slide-text-left {
    position: absolute;
    bottom: 23%;
    left: 9%;
    font-family: "Futura Md BT";
    font-size: 15px;
    color: #474747;
    margin: 0;
}

.main-mega-menu-box {
    left: -18% !important;
    width: 115% !important;
}

.ruby-grid-lined ul li a {
    font-size: 15px;
    color: #acacac;
    font-family: "Futura Lt BT";
}

.menu-right-img img {
    width: 100%;
    height: auto;
}

#productMenu {
    display: none;
}

a {
    cursor: pointer;
}

/* philosophy Css ************************************/

.main-philosophy-section .container {
    max-width: 1300px;
}

.philosophy-section {
    height: 570px;
    margin-top: -70px;
    padding-top: 190px;
    position: relative;
}

.philosophy-text {
    color: #3f3f3f;
    font-size: 22px;
    text-align: center;
    line-height: 29px;
    font-family: "Futura Lt BT";
    letter-spacing: -1.2px;
    padding: 0px 135px;
}

.philosophy {
    color: #000000;
    font-size: 50px;
    letter-spacing: 0.56px;
    font-family: "Futura Md BT";
    font-family: "Bodoni";
    font-weight: 500;
    text-transform: uppercase;
}

@media (max-width: 1400px) {
    .philosophy-right-box {
        position: absolute;
        right: 1% !important;
        bottom: 22px;
    }

    .i-img {
        right: 2%;
    }

    .philosophy-right-box img {
        width: 95px !important;
    }

    .scroll-box1 {
        left: 38px;
    }

    .video-box {
        width: 95% !important;
        margin: auto;
    }
}

.philosophy-right-box {
    position: absolute;
    right: 3%;
    bottom: 22px;
}

.philosophy-right-box img {
    width: 100%;
}

.borderTop {
    border-top: 1px solid #dee2e6 !important;
    top: 135px;
    position: absolute;
    left: 19%;
    width: 62%;
    z-index: 9;
    margin: auto;
}

.borderLeft {
    position: absolute;
    transform: rotate(180deg);
    top: 65px;
    right: 438px;
    width: 1px;
    background-color: #dee2e6;
    height: 209px;
}

.video-section {
    background-color: #f0efeb;
    height: 900px;
}

.video-box {
    margin-top: -200px !important;
    width: 100%;
    margin: auto;
}

.manufacture {
    margin: 0px 120px;
    margin-bottom: 50px;
}

.who-we-are {
    text-align: center;
    border: 1px solid #d1d1d1;
    padding: 16px;
}

img.who-we-img {
    height: 60px;
    width: 60px;
    margin-bottom: 20px;
}

p.who-we-text {
    color: #222222e5;
    font-size: 15px;
    font-family: "Futura Md BT";
    margin: 0;
}

.text1 {
    color: #30302b;
    font-size: 18px;
    font-family: "Futura Lt BT";
    margin: 0;
    text-transform: capitalize;
    line-height: 26px;
}

.our-proces-main-section {
    background-color: #f9f9f9;
    padding-bottom: 50px;
}

.who-we-are-slider {
    margin-top: -200px;
}

.our-proces-box {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

.Manufacturing {
    font-family: "Futura Md BT";
    color: #30302b;
    font-size: 22px;
    line-height: 27px;
    margin-top: 10px;
}

.Aesthetically {
    font-family: "Futura Md BT";
    color: #5b5b5b;
    font-size: 22px;
    line-height: 27px;
}

.Process-text {
    color: #727376;
    font-size: 16px;
    font-family: "Futura Lt BT";
    line-height: 25px;
    text-transform: capitalize;
    margin-top: 0px;
    letter-spacing: 0.56px;
}

.multi-slider-img img {
    width: 100% !important;
}

.main-sliser .draggable {
    width: 100% !important;
}

.main-sliser .slick-track {
    height: 300px !important;
}

.multi-slider-img {
    position: relative;
    padding: 0px !important;
}

.product-img-center {
    position: relative;
}

.img-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #00000036;
    padding: 15px 20px;
}

.img-overlay p {
    margin: 0;
    font-size: 16px;
    font-family: "Futura Lt BT";
    color: #fff;
    text-transform: uppercase;
}

/* Custom Arrow */
.prev {
    position: absolute;
    right: 110px;
    bottom: 5px;
}

.next {
    position: absolute;
    right: 28px;
    bottom: -2px;
}

.prev1 {
    position: absolute;
    right: 340px;
    bottom: -8px;
}

.next1 {
    position: absolute;
    right: 250px;
    bottom: -15px;
}

img.slide-arrow {
    cursor: pointer;
}

.our-client {
    background-color: #fff;
    padding-bottom: 65px;
}

.our-client-img-box {
    border: 1px solid #efefef;
    box-shadow: 0px 3px 14px 0px #ededed;
    background-color: #fff;
    padding: 10px !important;
    border-radius: 6px;
    height: 150px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.our-client-img-box img {
    width: auto !important;
    height: auto !important;
}

.responsive1 .slick-track {
    padding-bottom: 0px !important;
    height: 200px !important;
}

.our-presence {
    background-color: #f9f9f9;
}

.map-img-box img {
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.product-customisation {
    background-color: #f9f9f9;
}

.customisation-img-box {
    border: 1px solid #e0e0e0;
    text-align: center;
    padding: 30px 15px;
    background-color: #fff;
}

.customisation-img {
    width: 30px;
    margin-bottom: 10px;
}

.customisation-text {
    color: #5b5b5b;
    font-size: 16px;
    font-family: "Futura Lt BT";
    margin: 0;
}

.customisation-image {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.green-measures {
    background-color: #fff;
    padding: 40px 0px;
    padding-top: 0px;
}

.customisation-heading {
    width: 860px;
}

.Measures-heading {
    width: 760px;
}

.Clients-heading {
    width: 680px;
}

.get-in-touch .get-in-touch-section {
    margin-top: 0px;
    padding-top: 70px;
}

.measures-img-box {
    border: 1px solid #e0e0e0;
    text-align: center;
    padding: 15px 15px;
    background-color: #fff;
}

.measures-img {
    width: 50px;
    margin-bottom: 10px;
}

.measures-text {
    color: #222222e5;
    font-size: 16px;
    font-family: "Futura Lt BT";
    margin: 0;
}

.who-we-are-slider .slick-prev {
    top: 92%;
}

/* Contact Section *****************************/

.contact-section {
    height: 570px;
    margin-top: -70px;
    padding-top: 190px;
    position: relative;
    background-color: #f0efeb;
}

.QueriesInIndia-box {
    border: 1px solid #dbdbdb;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
}

.contactOpine-setion .nav-tabs {
    border: 1px solid #dbdbdb;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    z-index: 9;
    position: relative;
    display: block;
}

.contactOpine-setion {
    margin-top: -180px;
}

.contactOpine-setion #TabContent .fade {
    opacity: 1;
}

.contactOpine-setion .nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border: none;
}

.contactOpine-setion .nav-tabs .nav-link {
    border: none;
}

.contactOpine-setion .nav-tabs .nav-item .active {
    border-bottom: 2px solid #db783d;
    padding: 20px 0px;
    color: #db783d !important;
}

.contactOpine-setion .nav-tabs .nav-item .nav-link {
    padding: 20px 0px;
    color: #3f3f3f;
    font-size: 18px;
    font-family: "Futura Lt BT";
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

.contactOpine-setion .nav-tabs > li {
    margin: 0;
    width: 50%;
}

.Queries-heading {
    width: 700px;
}

.Queries-box {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    padding-top: 40px;
    margin-bottom: 12px !important;
}

.Queries-heading::after {
    content: "";
    height: 0.5px;
    width: 180px;
    background-color: #d6d6d6;
    position: absolute;
    bottom: 9px;
    margin-left: 8px;
}

.Queries-heading::before {
    content: "";
    height: 0.5px;
    width: 180px;
    background-color: #d6d6d6;
    position: absolute;
    bottom: 9px;
    left: 0;
}

.QueriesIndia-img {
    text-align: center;
}

.QueriesIndia-img img {
    width: 100%;
    height: auto;
}

.QueriesIndia-img h4 {
    color: #000000;
    font-family: "Futura Md BT";
    font-size: 24px;
    margin: 0;
    margin-top: 18px;
}

.QueriesIndia-img p {
    color: #3f3f3f;
    font-family: "Futura Lt BT";
    font-size: 16px;
    margin: 0;
    margin-top: 3px;
}

.QueriesIndia-img .QueriesIndia-email {
    color: #3f3f3f;
    font-family: "Futura Lt BT";
    font-size: 16px;
    margin: 0;
    margin-top: 10px;
}

.CustomerService {
    border-top: 1px solid #dbdbdb;
    margin-top: 20px;
}

.CustomerService-heading {
    width: 650px;
    margin-bottom: 10px;
}

.CustomerService-heading::before {
    width: 180px;
}

.CustomerService-heading::after {
    width: 180px;
}

.whatsapp-icon {
    border: 1px solid #efefef;
    padding: 9px;
    border-radius: 5px;
    width: 42px;
}
img.mess-icon {
    height: 42px;
}
.call-box img {
    height: 40px;
}

/* .call-box img{
    width: 37px;
} */
.call-box1 {
    display: flex;
    align-items: center;
}

.call-box1 div a {
    margin: 0;
    font-size: 14px;
    color: #242424;
    margin-left: 12px;
    font-family: "Futura Md BT";
}

.call-box1 div a:hover {
    text-decoration: none;
    color: #242424;
}

a.call-text-box {
    padding-bottom: 10px;
}

a.call-text-box img {
    margin-right: 4px;
    margin-left: 8px;
}

.Custom-Project {
    background-color: #f9f9f9;
    margin-top: -400px;
    height: 1000px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.Requirement-heading {
    width: 960px;
}

.Request-heading {
    width: 860px;
}

.location-heading {
    width: 540px;
}

.location-heading::before {
    width: 190px;
}

.location-heading::after {
    width: 190px;
}

.india-location-box {
    text-align: center;
    margin: 0px 20px;
}

.india-location-box img {
    width: 40px;
    margin-bottom: 8px;
}

.india-name {
    /* font-family: 'Futura Md BT'; */
    font-family: "Futura Lt BT";
    font-size: 25px;
    color: #5b5b5b;
    margin: 0;
    margin-top: 8px;
}

.contact-no {
    color: #000000;
    font-family: "Futura Md BT";
    font-size: 20px;
    margin: 0;
    margin-top: 8px;
}

.location-text {
    color: #000000;
    font-family: "Futura Lt BT";
    font-size: 18px;
    margin: 0;
    margin-top: 8px;
    padding: 0px 30px;
}

.india-location {
    margin-top: 20px;
}

.india-location iframe {
    border: 6px solid #f0efeb !important;
}

.textPadding {
    padding: 0px 30px;
}

.work-with-us {
    background-color: #cbcbcb;
    padding-bottom: 60px;
}

.work-with-us-left img {
    width: 100%;
    height: auto;
}

.work-with-us-box {
    background-color: #fff;
    margin-top: -150px;
}

.work-with-us-right {
    padding-top: 22px;
    padding-right: 22px;
}

.Request-Catalogue {
    margin-bottom: 180px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}

.upload-btn {
    width: 100%;
    height: 40px;
    border: 1px solid rgb(180, 180, 180);
    font-size: 15px;
    padding-left: 10px;
    font-family: "Futura Lt BT";
    background: none;
    padding-right: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upload-btn img {
    width: 17px;
}

.upload-btn-wrapper input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

/* GUEST ROOM ITEMS Section ********************************************/

.GuestRoomItems-main-section {
    background-color: #fff;
}

.GuestRoomItems-main-section .container {
    max-width: 1430px;
    width: 1430px;
}

@media (max-width: 1400px) {
    .GuestRoomItems-main-section .container {
        max-width: 1300px;
        width: 1300px;
    }
}

.desk-detail-section .container {
    max-width: 1430px;
    width: 1430px;
}

@media (max-width: 1400px) {
    .desk-detail-section .container {
        max-width: 1300px;
        width: 1300px;
    }
}

.GuestRoomItems-section {
    margin-top: -160px;
    margin-bottom: 40px;
}

.GuestRoomItems-image-box {
    width: 80%;
    margin: auto;
}

.GuestRoomItems-image {
    width: 100%;
    height: auto;
}

.filter-box {
    margin-bottom: 45px;
}

.filter {
    color: #5b5b5b;
    font-family: "Futura Md BT";
    font-size: 22px;
    position: relative;
}

.filter::before {
    content: "";
    background-color: #d3d3d3;
    width: 50px;
    height: 1.5px;
    position: absolute;
    bottom: 4px;
    left: 55px;
}

.arrordion-header .accordion-title {
    font-size: 20px;
    color: #827d7d;
    font-family: "Futura Lt BT";
    text-transform: capitalize;
}

.arrordion-header .accicon {
    float: right;
}

.arrordion-header .accicon .rotate-icon {
    font-size: 24px;
    color: #767676;
}

.arrordion-header {
    cursor: pointer;
    border-bottom: none;
    background-color: #fff !important;
}

.accordion-card-box {
    border: 1px solid #ddd;
}

.accrodion-card-body {
    border-top: 1px solid #ddd;
}

.arrordion-header:not(.collapsed) .rotate-icon {
    transform: rotate(180deg);
}

.check-box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.check-box input {
    height: 19px;
    width: 19px;
    margin: 0 !important;
}

.check-box p {
    margin: 0;
    margin-left: 8px;
    font-size: 17px;
    font-family: "Futura Lt BT";
    color: #827d7d;
    text-transform: capitalize;
}

.drop-btn {
    border: 1px solid #e4e4e4;
    height: 50px;
    background-color: #fff;
    padding: 0px 10px;
    width: 200px;
    font-family: "Futura Lt BT";
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: right;
    margin-bottom: 30px;
}

.our-product-right-img-box {
    margin-left: 10px;
    margin-bottom: 50px;
}

.our-products-right-section {
    margin-left: 20px;
}

.our-product-img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    margin-bottom: 12px;
}

.ruby-grid.ruby-grid-lined.Collection {
    overflow-y: scroll;
    height: 513px;
}

.our-product-text {
    color: #222222e5;
    font-size: 18px;
    font-family: "Futura Lt BT";
    text-transform: uppercase;
}

.our-product-text:hover {
    text-decoration: none;
    color: #222222e5;
}

/* DESK ACCESSORIES Section ******************************************/

#expandedImg {
    height: 700px;
    width: 100%;
    object-fit: cover;
    display: none;
}

.column img {
    cursor: pointer;
}

.desk-text {
    font-size: 20px;
    font-family: "Futura Lt BT";
    color: #3f3f3f;
    line-height: 27px;
    text-align: center;
    padding: 0px 100px;
}

.desk-img {
    width: 100%;
    object-fit: cover;
    height: 600px;
}

.desk-left-img-box {
    margin-bottom: 30px;
}

img.desk-small-img {
    width: 85px;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
}

.deskRoomItems-section {
    margin-top: -160px;
}

.GuestServiceDirectory {
    background-color: #f9f9f9;
    margin-bottom: 30px;
    padding-bottom: 50px;
    margin-top: -100px;
    padding-top: 200px;
}

.guest-heading {
    color: #000;
    font-family: "Futura Md BT";
    font-size: 28px;
    margin: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.guest-heading a {
    color: #000;
    text-decoration: none;
}

.guest-heading a:hover {
    color: #000;
    text-decoration: none;
}

.guest-text {
    color: #3f3f3f;
    font-size: 20px;
    font-family: "Futura Lt BT";
    line-height: 28px;
    text-align: justify;
    margin: 0;
}

.material-box h4 {
    font-family: "Futura Md BT";
    font-size: 20px;
    color: #4b4b4b;
    margin-bottom: 10px;
    margin-top: 20px;
    text-transform: uppercase;
}

.material-btn {
    color: #000;
    font-family: "Futura Lt BT";
    font-size: 15px;
    text-align: center;
    border: 1px solid #e3e3e3;
    padding: 10px 22px;
    margin-right: 20px;
    margin-bottom: 15px;
    background-color: transparent;
    text-transform: uppercase;
}

.material-btn:hover {
    color: #000;
    text-decoration: none;
    background-color: #e3e3e3;
}

.color-btn {
    color: #000;
    font-family: "Futura Lt BT";
    font-size: 15px;
    text-align: center;
    border: 1px solid #e3e3e3;
    padding: 10px 22px;
    margin-right: 20px;
    margin-bottom: 15px;
    background-color: transparent;
    text-transform: uppercase;
}

.color-btn:hover {
    color: #000;
    text-decoration: none;
    background-color: #e3e3e3;
}

.size-btn {
    color: #000;
    font-family: "Futura Lt BT";
    font-size: 15px;
    text-align: center;
    border: 1px solid #e3e3e3;
    padding: 10px 22px;
    margin-right: 20px;
    margin-bottom: 15px;
    background-color: transparent;
    text-transform: uppercase;
}

.size-btn:hover {
    color: #000;
    text-decoration: none;
    background-color: #e3e3e3;
}

.materialActive {
    background-color: #e3e3e3;
}

/* .material-btn:focus{
    background-color:#E3E3E3;
    color: #000000;
} */

.material-btn-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.material-box {
    margin-bottom: 10px;
}

.select-box {
    width: 250px;
}

.add-project-btn {
    background-color: #e3e3e3;
    color: #6a6a6a;
    font-family: "Futura Md BT";
    font-size: 14px;
    height: 50px;
    width: 250px;
    border: none;
    margin-top: 20px;
    text-align: end;
    padding-right: 30px;
    position: relative;
}

.add-project-btn::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #6a6a6a;
    position: absolute;
    bottom: 23px;
    left: 20%;
}

.GuestServiceBlotter {
    background-color: #f9f9f9;
    margin-bottom: 30px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.WASTEBIN {
    margin-bottom: 0;
    padding-bottom: 80px;
}

/* desk-detail-section  ****************************************/

.desk-detail-section {
    margin-top: -70px;
    padding-top: 190px;
    background-color: #fff;
    margin-bottom: 40px;
}

.RelatedProducts-main-section {
    background-color: #f9f9f9;
    padding-bottom: 200px;
}

.desk-slide-img {
    margin-top: 15px;
}

.desk-slide-img p {
    font-family: "Futura Lt BT";
    color: #222222e5;
    margin: 0;
    font-size: 16px;
}

.terms-condition-main-section {
    margin: 0;
    margin-bottom: 50px;
}

.terms-condition-tab {
    background-color: #fff;
    margin-top: -100px;
}

.terms-condition-box {
    padding: 0px 50px;
    padding-bottom: 40px;
}

.underline-text {
    color: #3f3f3f;
    text-decoration: underline;
}

.underline-text:hover {
    color: #3f3f3f;
}

.product-specification {
    width: 50%;
    margin: auto;
    border: 1px solid #ececec;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

a:-webkit-any-link:focus-visible {
    outline-offset: 0px;
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}

a:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color !important;
    outline-offset: -2px;
}

.product-name-box {
    display: flex;
    align-items: self-start;
    margin-bottom: 10px;
}

.Material-text-box {
    display: flex;
    align-items: self-start;
    flex-wrap: wrap;
}

.productTitle {
    color: #3f3f3f;
    font-family: "Futura Lt BT";
    font-size: 20px;
    margin: 0;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
}

.productTitle span {
    width: 50px;
}

.productName {
    color: #3f3f3f;
    font-family: "Futura Lt BT";
    font-size: 20px;
    margin: 0;
    text-transform: capitalize;
}

.email-box {
    width: 35%;
    margin: auto;
    position: relative;
    margin-bottom: 40px;
}

.email-box input {
    width: 100%;
    background-color: #f9f9f9;
    border: none;
    height: 50px;
    padding: 15px;
    padding-right: 120px;
    font-family: "Futura Lt BT";
    font-size: 16px;
}

.send-btn {
    border: none;
    background: none;
    font-size: 15px;
    color: #db783d;
    position: relative;
    font-family: "Futura Md BT";
    position: absolute;
    top: 14px;
    right: 11px;
}

.send-btn::before {
    content: "";
    height: 1px;
    width: 45px;
    background-color: #db783d;
    position: absolute;
    bottom: 10px;
    left: -47px;
}

.value-add-btn-box {
    display: flex;
    align-items: center;
}

.value-add-btn-box .value-btn {
    display: inline-block;
    padding: 3px 6px;
    width: 60px;
    height: 31px;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #c2c2c2;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.value-add-btn-box .value-add-btn {
    width: 28px;
    height: 28px;
    background: linear-gradient(#fff, #f9f9f9);
    border: 1px solid #c2c2c2;
    cursor: pointer;
    font-size: 17px;
    border-radius: 50%;
    font-family: "Futura Md BT";
    line-height: 1px;
}

.value-btn p {
    margin: 0;
    border: none;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
    font-family: "Futura Md BT";
}

.no-data-found-box {
    width: 50%;
    box-shadow: 0px 0px 7px #e6e6e6;
    background-color: #fff;
    padding: 20px 20px 40px 20px;
    border-radius: 8px;
    text-align: center;
    margin-left: 11%;
}

.data-found-center {
    margin: auto;
}

.no-data-found-box img {
    width: 70px;
    height: auto;
}

.no-data-found-box h3 {
    font-family: "Futura Md BT";
    font-size: 30px;
    color: #333;
    margin-top: 10px;
}

.no-data-found-box p {
    font-family: "Futura Lt BT";
    font-size: 18px;
    color: #2e2e2e;
    margin-bottom: 25px;
}

.no-data-found-box a {
    background-color: #cbcbcb;
    color: #000000;
    padding: 12px 25px;
    font-family: "Futura Lt BT";
    font-size: 18px;
}

.no-data-found-box a:hover {
    color: #000000;
    text-decoration: none;
}
.container-main {
    background-color: #fff;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: #fff;
    width: 466px;
    border: 1px solid #ececec;
    padding: 40px 50px;
    border-radius: 10px;
    margin-top: -230px;
    z-index: 99;
    margin-bottom: 80px;
}
.login-input {
    height: 50px !important;
    border-radius: 0px !important;
}
.button-box {
    display: flex;
    justify-content: end;
    align-items: center;
}
button.otp-button {
    border: none;
    background: none;
    color: #db783d;
}
.line {
    width: 60px;
    height: 1px;
    background-color: #db783d;
}
.login-text {
    color: #3f3f3f;
    font-size: 22px;
    text-align: center;
    line-height: 29px;
    font-family: "Futura Lt BT";
    letter-spacing: -1.2px;
    padding: 0px 230px;
}
.signin {
    color: #000000;
    font-size: 50px;
    letter-spacing: 0.56px;
    font-family: "Futura Md BT";
    font-family: "Bodoni";
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 40px;
}
.account-setting {
    border: 1px solid #dbdbdb;
    border-top: none;
    border-radius: 10px;
    background-color: #fff;
    padding: 30px 40px;
}
.navigator {
    height: 46px !important;
    display: flex !important;
    align-items: center;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #000 !important;
    background-color: #f0efeb !important;
}
.nav-div {
    position: relative;
}
.nav-div a {
    color: #827d7d !important;
    border-radius: 0 !important;
    border: 1px solid #e4e4e4 !important;
    font-size: 16px;
    font-family: "Futura Lt BT";
    font-weight: 500;
}

.arrow-img {
    position: absolute;
    right: 15px;
    top: 12px;
}
.arrow-img2 {
    position: absolute;
    right: 15px;
    top: 58px;
}
#after {
    display: none;
}
#otp-text {
    margin-bottom: 10px;
}
.account-box {
    /* padding: 20px 40px; */
    width: 100%;
    border: 1px solid #ededed;
}
.setting-box {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    padding-top: 0px;
    margin-bottom: 12px !important;
}
.setting-heading::before {
    content: "";
    height: 0.5px;
    width: 120px;
    background-color: #d6d6d6;
    position: absolute;
    bottom: 9px;
    left: 95px;
}
.setting-heading::after {
    content: "";
    height: 0.5px;
    width: 120px;
    background-color: #d6d6d6;
    position: absolute;
    bottom: 9px;
    margin-left: 12px;
}
.setting-heading {
    margin-top: 20px;
}
h1.Personal-text {
    font-size: 20px;
    font-family: "Futura Md BT";
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.submit-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.name-color {
    color: #827d7d;
    font-size: 16px;
    font-family: "Futura Lt BT";
}
.order-history::before {
    content: "";
    height: 0.5px;
    width: 120px;
    background-color: #d6d6d6;
    position: absolute;
    bottom: 9px;
    left: 30px;
}
.order-history::after {
    content: "";
    height: 0.5px;
    width: 120px;
    background-color: #d6d6d6;
    position: absolute;
    bottom: 9px;
    margin-left: 12px;
}
.order-history {
    width: 530px !important;
    margin-top: 20px;
}
.order-history-img {
    height: 95px;
}
.history-heding {
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
    font-family: 'Futura Md BT';
    margin-top: 0px;
}
.oredr-date {
    display: flex;
    align-items: center;
}
.oredr-date p {
    color: #969696;
    font-size: 12px;
}
.bill-number {
    padding-right: 5px;
    border-right: 1px solid #969696;
}
.date {
    padding-left: 5px;
}
h1.mt-heading {
    margin-top: 0px;
    font-size: 14px;
    color: #000;
    font-family: 'Futura Md BT';
    margin-bottom: 8px;
}
p.mt-text {
    color: #7D7D7D;
    font-size: 14px;
    font-family: 'Futura Lt BT';
    margin-bottom: 30px;
}
.material {
    border-right: 1px solid #E0E0E0;
}
.order-history-content {
    padding: 0px 40px;
    border-bottom: 1px solid #E0E0E0;
}
.order-histroy-box2 {
    padding: 30px 40px 0px 40px;
    border: 1px solid #E0E0E0;
}
.account-main {
    padding: 0px 25px;
    margin-bottom: 30px;
}